{% extends "bingosync/base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block page_content %}
    <div class="row m-b-l" style="height: calc(100% - 70px)">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Using Bingosync
                </div>
                <div class="panel-body">
                    <p>
                        Bingosync is a web application that lets people collaboratively work on
                        "bingo boards" for speedrunning games.
                    </p>
                    <p>
                        When you create a room, you will get a unique URL that you can share with
                        other people to let them join your room. When multiple people are in the
                        same room, the squares on the bingoboard are synchronized between them in
                        real time. This lets you plan and keep track of bingo progress together.
                        You can left click on a goal to change its color publicly or right click
                        on a goal to "star" it privately. You can use starring to plan your goals
                        without other players seeing.
                    </p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Different Ways to Play Bingo
                </div>
                <div class="panel-body">
                    <p>
                        Here's a collection of different ways to play bingo that you can try out.
                    </p>
                    <div class="table-wrapper" style="margin: 5px; border-radius: 5px">
                        <table class="table" style="margin-bottom: 0px">
                            <tbody>
                                <tr>
                                    <td align="right" width="15%"><strong>Regular Bingo</strong></td>
                                    <td width="80%">
                                        Complete the goals on the squares and mark them on the board when
                                        you get them. Try to get 5 squares in a line, either a row, column,
                                        or diagonal. You can play in the same room as other racers to see
                                        each other's progress as you go!
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right"><strong>Multi-Bingo</strong></td>
                                    <td>
                                        Like regular bingo, but with multiple lines at once. For example,
                                        in "Triple Bingo", you might go for column 1, row 5, and the tl-br
                                        diagonal to take advantage of their overlapping squares.
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right"><strong>Anti-Bingo</strong></td>
                                    <td>
                                        Like regular bingo, but your opponent chooses the line that you do!
                                        Combine with Multi-Bingo for "Triple-Anti-Bingo" shenanigans!
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right"><strong>Blackout</strong></td>
                                    <td>
                                        Instead of going for individual lines, try to complete the
                                        <em>entire</em> board! You can work together with other players
                                        to complete a single board in "team blackout", and compete against
                                        other teams.
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right"><strong>Lockout</strong></td>
                                    <td>
                                        In lockout bingo, only one player can have a square&mdash; once it's
                                        collected, the other players are "locked out". Try to collect as
                                        many squares as you can, either until the board is filled or for
                                        a fixed time limit.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Privacy
                </div>
                <div class="panel-body">
                    <p>
                        Bingosync stores any room information that you enter&mdash; including room and
                        player names, goal actions, and chat messages&mdash; so that you can still
                        access old rooms in the future. Bingosync uses browser cookies in order to
                        keep track of which rooms you're logged into currently. The server keeps a log
                        of recent access to its web servers, including IP addresses and user agent
                        strings, to troubleshoot issues and identify problematic traffic patterns.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
