<div id="additional-settings" class="panel panel-default fill-parent">
    <div class="panel-heading">
        <span>
            Additional Settings
        </span>
        <span id="additional-settings-collapse" class="btn btn-default btn-xs pull-right collapse-button">
            -
        </span>
    </div>
    <div class="panel-body">
        <div>
            <div class="checkbox m-b-s" style="margin-top: 0">
                <label><input id="highlighter-toggle" type="checkbox"> Accessibility Highlighter</label>
            </div>
            <div class="checkbox m-b-s" style="margin-top: 0">
                <label><input id="blackoutview-toggle" type="checkbox"> Solo Blackout View</label>
            </div>
            <div class="checkbox m-b-s" style="margin-top: 0">
                <label><input id="fullwidth-toggle" type="checkbox"> Full Width Board</label>
            </div>
            <div class="checkbox m-b-s" style="margin-top: 0">
                <label><input id="summary-toggle" type="checkbox"> Postgame Summary</label>
            </div>
        </div>
    </div>
</div>
