{% comment %}
Counter Panel Template - Claim Review
{% endcomment %}

<div class="panel panel-default fill-parent">
    <div class="panel-heading">
        Claim Review
    </div>
    <div class="panel-body panel-body-overflow-container">
        <div id="counter-panel">
            <div class="counter-body panel-inner">
                <div id="pending-claims-list">
                    <span class="history-placeholder">No pending claims</span>
                </div>
                <div class="counter-history-divider"></div>
                <div class="counter-history-header">History</div>
                <div id="claim-history-list">
                    <span class="history-placeholder">No claim history</span>
                </div>
            </div>
        </div>
    </div>
</div>
